<!DOCTYPE html>
<html lang="en" ng-app="colorApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <title>Document</title>
    <style>
        .color{
            color:coral
        }
        li{
            border: 1px solid black;
            display: inline;
            margin: 1px 5px;
            flex-direction: column;
        }
    </style>
</head>
<body>
    
    <div ng-controller="ColorController">
        <h3>Color List</h3>
        <ul>
            <li ng-repeat="color in colors">
                <span class="color" ng-style="{'background-color':color}">{{color}}</span>
            </li>
        </ul>
        <button ng-click="colors=[]">Clear the colors</button>
        <p ng-show="colors.length === 0"> No Colors Found</p>
    </div>

    <script>
        let app = angular.module("colorApp",[]);

        app.controller("ColorController",function($scope){
            $scope.colors=["White","Red","Yellow","Pink"];
        })
    </script>
</body>
</html>