<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Application</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="namesCtrl">
        <input type="text"
        ng-model="searchText"
        placeholder="search name or country">
        <br><br>

        <select ng-model="selectedCountry">
            <option valus="">All Countries</option>
            <option valus="Norway">Norway</option>
            <option valus="Sweden">Sweden</option>
            <option valus="England">England</option>
            <option valus="Denmark">Denmark</option>
        </select>
        <br><br>
        <ul>
            <li ng-repeat="x in names 
            | filter:searchText
            | filter:{country:selectedCountry}"></li>
        </ul>
    </div>
</body>
</html>